.grid {
    background-color: #212529;
    grid-area: grid;
    --s: 80px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

.grid::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.outerHexagon {
    position: relative;
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: #343a40;
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);

}

.hexagon {
    position: absolute;
    width: calc(var(--s) * 0.92);
    height: calc((var(--s) * 1.1547) * 0.92);
    top: calc((var(--s) * 1.1547) * 0.04);
    left: calc(var(--s) * 0.04);
    background: #212529;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon .card {
    height: 83px;
    width: 80px;
    position: absolute;
}

.level0 {
    background: #43494f ;
}

.level1 {
    background: #e9eaec;
}

.level2 {
    background: #06d6a0;
}

.level3 {
    background: #00a8e8;
}

.level4 {
    background: #973efd;
}

.level5 {
    background: #ffe246;
}