.cards {
    grid-area: cards;
    background-color: #212529;
    margin-left: 2px;
}

.card {
    float: left;
    margin: 2px;
    height: 57px;
    width: 57px;
    border-radius: 5px;
    background-color: #212529;
    border: 2.4px solid #212529;
    background-size: cover;
    position: relative;
    
}

.card .item{
    height: 19px;
    width: 19px;
    box-shadow: 11px 11px 28px 0px rgba(0, 0, 0, 1);
    border-width: 2px;
    border-color: inherit;
    margin: none;
}

.card .item:nth-child(1){
    position: absolute;
    left: -1px;
    top: 7px;
}

.card .item:nth-child(2){
    position: absolute;
    left: -1px;
    top: 28px;
}

.card .item:nth-child(3){
    left: -1px;
    top: 49px;
}

[draggable=true] {
    cursor: pointer;
}

.rightPanel {
    width: 100%;
    grid-area: rightPanel;
    text-align: center;
}

.rightPanel p {
    font-weight: 400;
    color: #6c757d;
    font-size: 14px;
}

#recentlyUsed {
    margin: 30px 0;
    min-height: 415px;
    background-color: #30343f;
    border: 1px solid #495057;
    padding: 0px 0;
    border-radius: 10px;

}


.hex {
    position: absolute;
    height: calc(47px * 1.1547);
    width: 47px;
    background: #212529;
    margin-top: calc(3px * 1.1547);
    margin-left: 3px;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#remove{
    height: 48px;
    width: 48px;
    margin-left: 3px;
    margin-top: 3px;
    background-size: cover;
    background-position: center;
}


.outHex {
    background: #495057;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    height: calc(53px * 1.1547);
    width: 53px;
    margin: 0 auto;
}

#recentlyUsed .card {
    float: none;
    display: block;
    margin: 7px auto;
}

.costMoving {
    border-color: #495057;
}

.cost1 {
    border-color: #e9ecef;
}

.cost2 {
    border-color: #06d6a0;
}

.cost3 {
    border-color: #00a8e8;
}

.cost4 {
    border-color: #973efd;
}

.cost5 {
    border-color: #ffe246;
}