.topPanel {
    grid-area: topPanel;
}

.topPanel button {
    padding: 9px 20px;
    border: 3px solid white;
    background: none;
    font-weight: 600;
    border-radius: 5px;
    margin: 0px 5px;
}

.saveButton {
    border-color: #6fffe9 !important;
    color: #6fffe9;
}

.resetButton {
    border-color: #495057 !important;
    background-color: #495057!important;
    color: #e9ecef;
}

.resetButton:hover{
    background-color: #e4b20b!important;
    border-color: #e4b20b!important;
    transition-duration: 0.5s;
    color:#fff;
}

.isActivefalse {
    display: none;
}

.isActivetrue {
    display: flex;
}

.saveModal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
}

.saveBox {
    position: relative;
    height: 220px;
    background-color: #2b2d42;
    width: 270px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    border: 3px solid #8d99ae;
    color: #8d99ae;
}

.saveBox .confirm {
    background-color: #8d99ae;
    border: 3px none #e3b5a4;
    color: white;
    width: 70%;
    display: block;
    padding: 13px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: 600;
}

.saveBox .confirm:hover {
    background-color: #2ec4b6;
    transition-duration: 0.3s;
}

.saveBox .close {
    position: absolute;
    right: -2px;
    top: 5px;
    margin: 0;
    border: none;
    color: #ef233c;
    font-weight: 600;
    font-size: 14px;

}

.saveBox input {
    background-color: #2b2d42;
    border: 3px solid #8d99ae;
    outline: none;
    width: 60%;
    display: block;
    padding: 8px 12px;
    margin: 10px 0;
    color: #8d99ae;
    border-radius: 5px;
    font-weight: 600;
}

.saveBox label {
    font-size: 14px;
    margin-top: 50px;
    font-weight: 600;
    color: #edf2f4;
    align-self: self-start;
    margin-left: 40px;


}