.topPanel {
    grid-area: topPanel;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-baseline;
}

.topPanel button {
    padding: 9px 20px;
    border: 3px solid white;
    background: none;
    font-weight: 600;
    border-radius: 5px;
    margin: 0px 5px;
}

.saveButton {
    border-color: #6fffe9 !important;
    color: #6fffe9;
}

.resetButton {
    border-color: #495057 !important;
    background-color: #495057!important;
    color: #e9ecef;
}

.resetButton:hover{
    background-color: #ff0831!important;
    border-color: #ff0831!important;
    transition-duration: 0.5s;
    color:#fff;
}

#alertBox{
    width: 100%;
    height: 20px;
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #fff23e;
    text-align: center;
    color: #212121;
    opacity:0;   
    transition: opacity 0.1s;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.fadeIn{
    opacity: 1!important;
}

.traitsToggle{
    display: flex;
    align-items: center;
}

.topPanel p{
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    color: #6c757d;
    font-weight: 600;
    line-height: 0.9;
}

#allTraits{
    padding-right: 8px;
}


#activeTraits{
    padding-left: 8px;
}

.switch {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 40px;    
}
  
.switch input {
    display:none;
  }
  
.slider {
    background-color: #495057;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    width: 40px;
  }
  
.slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 12px;
    left: 3px;
    position: absolute;
    transition: .2s;
    width: 12px;
}

.topPanel .active{
    color: #fff;
}  
  
input:checked + .slider:before {
    transform: translateX(21px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
  
  