.topPanel {
    grid-area: topPanel;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-baseline;
}

.topPanel button {
    padding: 9px 20px;
    border: 3px solid white;
    background: none;
    font-weight: 600;
    border-radius: 5px;
    margin: 0px 5px;
}

.saveButton {
    border-color: #6fffe9 !important;
    color: #6fffe9;
}

.resetButton {
    border-color: #495057 !important;
    background-color: #495057!important;
    color: #e9ecef;
}

.resetButton:hover{
    background-color: #ff0831!important;
    border-color: #ff0831!important;
    transition-duration: 0.5s;
    color:#fff;
}

#alertBox{
    width: 100%;
    padding: 11px 20px;
    margin-left: 5px;
    background-color: #fff23e;
    text-align: center;
    color: #212121;
    opacity:0;   
    transition: opacity 0.1s;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.fadeIn{
    opacity: 1!important;
}

