.style0 {
  background-color: #1b2021 ;
  
}

.borderStyle0 {
    background-color: #6e717e;
    opacity: 0.4;
}
  

.style1 {
    background-color: #A6674C;
}
  
.borderStyle1 {
    background-color: #BD9A7A;
}


.style2 {
    background-color: #8e9aaf;
}


.borderStyle2 {
    background-color: #dee2e6;
}

.style3 {
    background-color: #cca000;
}


.borderStyle3 {
    background-color: #f5cc00;
}

.style4 {
    background-color: #eaf4f4ef;
}

.style4 img{
    filter: brightness(0%);
}


.borderStyle4 {
    background-color: #fff;
}

.traits {
    padding: 0 10px;
    grid-area: traits;
    background-color: #212529;
    overflow-y: auto;
    overflow-x: hidden;
    height: 35rem;
}

.trait {
    height: 55px;
    background-color: #30343f;
    padding: 5px;
    border: 1px solid #495057;
    margin-bottom: 10px;
    border-radius: 7px;
}

.traitImage {
    width: 30px;
    height: calc(30px * 1.1047);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    margin-top: calc(2px * 1.1047);
}

.traitImageBorder {
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 8px;
    width: 34px;
    height: calc(34px * 1.1047);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    float: left;
  }


.traitImage img {
    width: 21px;
    height: 21px;
    margin-bottom: 0px;
    
}

.traitText {
    width: calc(100% - 70px);
    float: left;
    display: flex;
    align-items: center;
    height: 40px;
}

.occurencies {
    margin-top: 13px;
    height: 25px;
    padding: 3px 8px;
    background-color: #495057;
    color: white;
    font-weight: 600;
    border-radius: 20%;
    margin-right: 10px;
    margin-left: -3px;
}

.traitInfo {
    height: 30px;
    font-weight: 600;
}

.name {
    font-size: 15px;
    color: white;
}

.stages {
    font-size: 14px;
    color: #6c757d;
}


.stages span {
    margin-right: 7px;
}

.missing,
.currentStage {
    font-size: 14px;
    color: white;
}

.inactive {
    color: #6c757d;
}

.description {
    color: white;
    position: absolute;
    background-color: #212529;
    box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    width: 260px;
    padding: 15px 20px;
    font-size: 12px;
    margin: 10px;
    white-space: pre-wrap;
    z-index: 1;
    margin-left: 50px;
    margin-top: 0px;
    border-radius: 10px;
    border: 1px solid #495057;
}

.description b {
    font-size: 16px;
}

.stageDescription {
    color: #adb5bd;
}